/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles for the body and header */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #444;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Styles for sections */
section {
    background-color: #222;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: left; /* Adjusted text alignment */
    display: inline-block;
}

/* Styles for headings */
h2 {
    color: #3498db;
    font-size: 2em;
    margin-bottom: 15px;
    font-weight: bold; /* Added font weight */
}

/* Styles for lists */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Styles for links */
a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: bold; /* Added font weight */
}

a:hover {
    color: #2073c2;
}

/* Styles for the footer */
footer {
    text-align: center;
    padding: 15px 0;
    background-color: #111;
    color: #fff;
}

/* Add an IG icon */
.ig-icon::before {
    content: "\f16d";
    font-family: 'Font Awesome 5 Free';
    margin-right: 5px;
    color: #3498db;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    section {
        width: 100%;
        margin: 10px;
        padding: 15px;
    }
}
