/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styles for the body and header */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8; /* Light gray background */
    color: #333; /* Dark text */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #3498db; /* Blue header */
    color: #fff; /* White text */
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #2980b9; /* Darker blue border */
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Styles for sections */
section {
    background-color: #fff; /* White section background */
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Styles for headings */
h2 {
    color: #3498db; /* Blue heading text */
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* Styles for lists */
ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #555; /* Darker text */
}

/* Styles for links */
a {
    color: #3498db; /* Blue link text */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #2073c2; /* Slightly darker blue on hover */
}

/* Styles for the footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff; /* White footer text */
}

/* Highlighted styles for code */
code {
    background-color: #f0f0f0; /* Light gray code background */
    color: #333; /* Dark code text */
    padding: 2px 4px;
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

/* Add a code block style for multiline code */
pre {
    background-color: #f0f0f0; /* Light gray code background */
    color: #333; /* Dark code text */
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd; /* Light gray border */
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
}

/* Add an IG icon */
.ig-icon::before {
    content: "\f16d"; /* Instagram icon in Font Awesome */
    font-family: 'Font Awesome 5 Free';
    margin-right: 5px;
    color: #3498db; /* Blue icon color */
}
